<div class="panel header-panel flow-text z-depth-3">
  <div id="title">Wszyscy użytkownicy</div>
  </div>
<div class="full-height scroll-bar">
  <table class="striped">
    <thead>
      <tr>
          <th></th>
          <th>Imię</th>
          <th>Nazwisko</th>
          <th>Email</th>
          <th>Data dołączenia</th>
          <th></th>
      </tr>
    </thead>

    <tbody>
      <% @users.each do |user| %>
        <tr>
          <td></td>
          <td><%= link_to "#{user.first_name}" , user_path(user.id)%></td>
          <td><%= link_to "#{user.last_name}" , user_path(user.id)%></td>
          <td><%= user.email %></td>
          <td><%= user.created_at.strftime("%d - %m - %Y") %></td>
          <td>
            <%= button_to user_path(user.id), :class => "clear-button", method: :delete, data: { :confirm=>'Na pewno?' } do %>
              <i class="material-icons">clear</i>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>